@media (max-width: 768px) {
    .shape {
        & > svg {
            transform: scale(1);
        }
    }
}

.company-logo {
    max-height: 65px;
    margin-right: 15px;
}

.align-image-right {
    text-align-last: right;
}

.up-to-400-height {
    max-height: 400px;
    max-width: 400px;
}

.clickable {
    cursor: pointer;
    font-weight: bolder;
}

.main-page-bg {
    background: url(../images/company-transp70.jpg) right top;
    padding: 155px 0;
    background-repeat: no-repeat;
    max-height: 600px;
}

.top-main-section {
    background: linear-gradient(210deg, rgba(46, 202, 139, 0.5), rgba(46, 202, 139, 0.5), rgba(47, 85, 212, 0.9), rgba(46, 202, 139, 1));
}

.pointer-cursor {
    cursor: pointer;
}

.content-width {
    width: max-content;
}

.full-width {
    width: 100%
}

.text-end {
    text-align: end;
}

.mr-3 {
    margin-right: 1rem !important;
}

.back-end-text {
    white-space: pre-line
}

.mr-10 {
   margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

@media (max-width: 500px) {
    .logo-responsive {
        font-size: 2rem;
    }
}

@media (min-width: 501px) {
    .logo-responsive {
        margin-left: 10px;
    }
}

.flexing {
    display: flex;
}

.flexing-space-between {
    display: flex;
    justify-content: space-between;
}

.flexing-wrapping {
    display: flex;
    flex-wrap: wrap;
}

.thumb-post-recent {
    width: 115px;
    padding-left: 10px;
}

.link-styling {
    font-weight: 600;
}

.image-backgr {
    background: radial-gradient(
                    circle at 50% 50%,
                    rgba(47, 85, 212, 0.1) 0%,
                    rgba(47, 85, 212, 0.1) -9.667%,
                    rgba(47, 85, 212, 0.3) -0.667%,
                    rgba(47, 85, 212, 0.3) 75.666%,
                    rgba(47, 85, 212, 0.5) 33.666%,
                    rgba(47, 85, 212, 0.5) 99.999%
    );
}

.form-group .icons {
    top: 39px;
}

.social-icon {
    li {
        a {
            border: none;
        }
    }
}

.pad-left-40 {
    padding-left: 40px;
}

.register-dropdown {
    height: 42px !important;
}

.icon-right {
    position: absolute;
    top: 40px;
    right: 18px;
    cursor: pointer;
}.fontsize_15rem {
     font-size: 1.5rem;
 }

.pad-50-0 {
    padding: 50px 0;
}

.pad-50-0-25 {
    padding: 50px 0 25px;
}

.pad-0-0-50-0 {
    padding: 0 0 50px 0;
}

.marginTop20px {
    margin-top: 20px;
}

.width70p {
    width: 70%;
}

.fontsize_15rem {
    font-size: 1.5rem;
}

.modalStyle {
    margin: 10px;
}

.admin-table-cell {
    overflow: overlay;
    word-wrap: break-word;
}

.admin-table-cell:hover {
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
}

.admin-table-cell::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
    background-color: rgb(184, 193, 199);
}

.admin-table-cell::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(33, 18, 247, 0.3);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.color-white {
    color: #ffffff;
}
.color-red {
    color: #ff0000;
}

.text-end {
    text-align: end;
}

.back-end-text {
    white-space: pre-line
}

.software_hero {
    display: flex;
    cursor: pointer;
}

.bold_text {
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: larger;
}

.react-select__control {
    box-shadow: none !important;
    min-width: 150px;
    background-color: #ffffff !important;
    border: 1px solid #dee2e6 !important;
    color: #3c4858 !important;
    min-height: 42px !important;
    height: 100% !important;
    font-size: 13px !important;
    border-radius: 6px !important;
    transition: all 0.5s ease !important;
}

.align-image-center {
    text-align-last: center;
}.page-next-level-override {
     top: 40px !important;
 }

.section-override {
    padding: 50px 0 !important;
}

.title {
    font-weight: bold;
}

.metadata {
    padding-left: 1rem;
}

.title-block {
    padding-bottom: 1rem;
}

.new-articles-block {
    display: flex;
    flex-wrap: wrap;
}

.articles-sidebar {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.large-font {
    font-size: large;
}

.medium-font {
    font-size: medium;
}

.search-blog-lens {
    position: absolute;
    top: 17px;
    right: 0px;
    opacity: 0;
    width: 40px;
    height: 40px;
}

.search-blog-input {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 12px;
    height: 36px;
    font-size: 14px;
    display: block;
    width: 250px;
    outline: 0!important;
    padding-right: 45px;
    opacity: .7;
}

.lens-icon-position {
    position: absolute;
    right: 12px;
    top: 29px;
}