@import "reset";
@import "variables";
@import "bootstrap-custom";
@import "components";
@import "general";
@import "helper";
@import "menu";
@import "home";
@import "features";
@import "testi";
@import "price";
@import "cta";
@import "blog";
@import "work";
@import "team";
@import "user";
@import "countdown";
@import "contact";
@import "footer";
@import "../css/style.css";
@import "../css/icons.css";
@import "../css/bootstrap.css";
@import "materialdesignicons.min.css";
@import "../css/my-custom.scss";

body,
a {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  color: #161c2d;
}

.videobg {
  background: url("../images/video-thumbnail.png") center center;
  margin-top: -8rem;
}

.float-right {
  float: right !important;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body main {
  width: 100%;
  background-color: #fff;
  z-index: 400;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 640px;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-shadow: 0 0 44px 16px rgba(35, 45, 65, 0.05);
  box-shadow: 0 0 44px 16px rgba(35, 45, 65, 0.05);
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

html {
  min-height: 100%;
}

html,
body {
  width: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.item {
  display: inline-block;
  vertical-align: baseline;
}

ul.menu li.item {
  padding: 0;
}

.item {
  margin-left: 40px;
}
