.ac-container label {
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: "+";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 10px;
}

.ac-container input:checked + label:hover:after {
  content: "-";
}

.ac-container input {
  display: none;
}

.ac-container article {
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  height: 100%;
}
