.click-me {
  cursor: pointer;
}

.paid-rect {
  width: fit-content;
  border: 2px solid #32cd32;
  text-align-last: right;
  font-size: xx-large;
  font-weight: 700;
  margin-left: auto;
  margin-right: 0;
  padding: 0 10px;
  color: #32cd32;
}

.not-paid-rect {
  width: fit-content;
  border: 2px solid #ff0000;
  text-align-last: right;
  font-size: xx-large;
  font-weight: 700;
  margin-left: auto;
  margin-right: 0;
  padding: 0 10px;
  color: #ff0000;
}
